<!DOCTYPE html>
<head>
    <title>Open CS Bifrost</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="App">
        <header class="App-header">
        <img src="{{ url_for('static', filename='img/Open-CS_Image-cyka1.png') }}" class="App-logo" alt="logo" />
        <p>
            Click the link below to gain access to the Open CS Discord!
        </p>
        <a
            class="App-link"
            href="/login/"
            
        >
            Login with Discord
        </a>
        </header>
    </div>
</body>