<!DOCTYPE html>
<head>
    <title>Open CS Bifrost</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="App">
        <header class="App-header">
        <img src="{{ user.avatar_url }}" class="App-logo" alt="logo" />
        <p>
            Welcome, {{ user.name }}!
        </p>
        <p>Heimdall has judged you worthy, you may enter now (Check your discord again 🥳)</p>
        </header>
    </div>
</body>